<html>
<head>
    <% include partials/head.ejs %>
</head>
<body>
    <div class="container">

        <div class="jumbotron text-center">
            <h2> Node Skeleton App</h2>

            <a href="/login" class="btn btn-default">Login</a>
            <a href="/signup" class="btn btn-default">Signup</a>
            <br><br>OR <br>
            <a href="/auth/facebook" class="btn btn-primary"> Login using Facebook</a>
            <a href="/auth/google" class="btn btn-danger">Login using Google</a>

        </div>

    </div>
</body>
</html>