<html>
<head>
    <% include partials/head.ejs %>
</head>
<body>
    <div class="container">

        <div class="jumbotron text-center">
            <h2> Node Skeleton App</h2>

            <p>Locally :</p>

            <a href="/login" class="btn btn-default">Login</a>
            <a href="/signup" class="btn btn-default">Signup</a>
        </div>

    </div>
</body>
</html>