<!doctype html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body>
    <% include partials/navbar.ejs %>
    <div class="container">

        <div class="page-header text-center">
            <h1>Profile Page</h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </div>

        <div class="row">

            <div class="col-sm-6">
                <div class="well">
                    <p>
                        <strong>email</strong>: <%= user.email %><br>
                    </p>
                </div>
            </div>

        </div>

    </div>
</body>
</html>