<html>
<head>
    <% include partials/head.ejs %>
</head>

<body>
<% include partials/navbar.ejs %>

    <div class="jumbotron col-md-6 col-md-offset-3 centerfy">

        <ul class="list-group">
            <% for(i = 0; i < docs.length; i++) { %>
                <li class="list-group-item">
                    <form action="/completetodo/<%= docs[i]._id %>" method="post">
                    <%= docs[i].text %>  &nbsp&nbsp&nbsp&nbsp
                    <button type="submit" class="btn btn-info btn-sm">Done</button>
                    </form>
                </li>
            <% } %>
        </ul>

        <h3>Add Task</h3>

        <form action="/addtodo" method="post" accept-charset="utf-8">
            <div class="form-group">
                <input type="text" name="text"/>
            </div>
            <button type="submit" class="btn btn-info btn-md">Add task</button>
        </form>

    </div>

</body>
</html>